<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forgot your password?</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../css/forgotpassword.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<link rel='icon' href='../images/1.ico ' type='image/x-ico' />
</head>
<body>
	<div id="web_bg"> 
		<img src="../images/background.jpg"  /> 
	</div>
	<div>
		<h2 class="header">Reset your password</h2>
	</div>
	<div class="container">
		<div class="content form-group" id="reset">
			<form action="reset_PW.html" method="get" class="form-horizontal bs-example bs-example-form" role="form">
				<div id="con">
			<label for="email_filed" style="margin-bottom:7px;">Enter your email address and we will send you a link to reset your password.</label>
			<input class="form-control email input-block putin" id="email_field" name="email" required="required" placeholder="Enter your email address" type="email">
			<input type="submit" id="commit"  value="Send password reset email" class="btn btn-primary btn-block" />
		</div>
		</form>
		</div>
	</div>

</body>
</html>