<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../css/login.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<link rel='icon' href='../images/1.ico ' type='image/x-ico' /> 
</head>
<body>
	<div id="web_bg"> 
		<img src="../images/background.jpg"  /> 
	</div>
	<div class="container">

		<div class="page-header">
            <span class="glyphicon glyphicon-lock" style="padding-left:30px"></span>注册</div>
    <div class="content">
		<form action="login_form.php" method="get" class="form-horizontal bs-example bs-example-form" role="form" >
	    	<div class="form-group" style="padding:15px 0px;margin-left:40px;width:500px">
	    		<label for="username" class="col-lg-2 control-label">用户名</label>
	    			<div class="col-lg-5 input-group">
	      				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	      				<input type="text" class="form-control" id="username" placeholder="username">
	    			</div>
	    	</div>
	    	<div class="form-group" style="padding-bottom:15px;margin-left:40px;width:500px">
	    		<label for="email" class="col-lg-2 control-label">邮&nbsp;&nbsp;&nbsp;箱</label>
	    			<div class="col-lg-5 input-group">
	      				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	      				<input type="text" class="form-control" id="email" placeholder="email">
	    			</div>
	    	</div>
	    	<div class="form-group" style="padding-bottom:15px;margin-left:40px;width:500px">
	    		<label for="password" class="col-lg-2 control-label">密&nbsp;&nbsp;&nbsp;码</label>
	    			<div class="col-lg-5 input-group">
	      				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	      				<input type="password" class="form-control" id="password" placeholder="password">
	    			</div>
	    	</div>
	    	<div class="form-group" style="padding-bottom:0px;margin-left:25px;width:600px">
	    		<label for="password2" class="col-lg-2 control-label">确认密码</label>
	    			<div class="col-lg-5 input-group">
	      				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	      				<input type="password" class="form-control" id="password2" placeholder="password" style="width:170px">
	    			</div>
	    	</div>
	    	
	  	<div class="form-group"  style="padding:0px 70px"> 
	    	<div class="col-lg-offset-2 col-lg-10" style="padding-top:20px">
	      		<button type="submit" class="btn btn-success">Finish</button>
				<button type ="reset" class="btn btn-danger">Reset</button>
	    	</div>
	    </div>
	    <div class="tail">
			have an account? <a href="../views/index.html">To login!</a>
	    </div>
	</form>
	</div>
	</div>
</body>
</html>