<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于支持</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<link rel='icon' href='../images/1.ico ' type='image/x-ico' /> 
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-size:40px;font-style:italic;font-family:Candara;">RootLink</a>
    </div>
    <div class="col-lg-offset-4">
        <ul class="nav navbar-nav navbar-center">
            <li class="guide"><a href="../views/main.html">主页</a></li>
            <li class="guide"><a href="../views/document.html">文档</a></li>
            <li class="guide"><a href="../views/TutorialCase.html">教程案例</a></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active" style="margin-right:80px;"><a href="../views/support.html">关于支持</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    小强！ <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="text-align: center;">
                    <li><a href="#">退出登录</a></li>
                    <li class="divider"></li>
                    <li><a href="#">设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div id="footer" class="container">
    <nav class="navbar navbar-inverse navbar-fixed-bottom"">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit" style="text-align:center;padding-top:1em">
                Copyright &copy;2016. n 打酱油 Software All Rights Reserved.
            </p>
        </div>
    </nav>
</div>
</body>
</html>